
div{
  color: beige;

    margin: 10px 10px;
    padding: 10px;
  }
  
  /*Centre les éléments inline dans les éléments possédant un attribut class="centre"*/
  .resultat{
    text-align: center;
  }

  fieldset
  {
    border-color: black;
    color: rgb(255, 255, 255);
    width: 20%;
    margin-left: 39%;
    border-radius: 20px;
    margin-top: 20px;
    
    
  }
button:hover
{
  cursor: pointer;
  color: white;
  background-color: rgb(255, 255, 255);
}
  div
  {
    margin-top: 18px;
    text-align: center;
  }

  button
  {
    border-radius: 16px solid grey;
    width: 100px;
    background-color: rgb(96, 103, 103);
    color: white;
  }
  h1
  {
    text-decoration: underline;
    font-size: 1.1em;
    font-family: fantasy;
    text-align: center;
    font-style: italic;
    

  }
 