.cadrep
{
	border: 2px solid red;
	width: 60%;
	height: 100%;
	margin-left: 280px;
	border-radius: 4px;
}

.cadre1
{
	border: 2px solid black;
	width: 95%;
	height: 180px;
	margin-left: 12px;
	border-radius: 4px;
	margin-top: 15px;
}

h1,p
{
	margin-left: 0.5%;
	margin-bottom: 8px;

}

img
{
	width: 150px;
	height:150px;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}

h1
{
	margin-top: 4px;
}

td
{
	padding-top: 8px;
	margin-left: 2px;
}

.cadre2
{
	border: 2px solid black;
	width: 95%;
	height: 150px;
	margin-left: 15px;
	border-radius: 4px;
	margin-top: 6px;
}

.cadre3
{
	border: 2px solid black;
	width: 95%;
	height: 150px;
	margin-left: 15px;
	border-radius: 4px;
	margin-top: 6px;
}

.cadre4
{
	border: 2px solid black;
	width: 95%;
	height: 150px;
	margin-left: 15px;
	border-radius: 4px;
	margin-top: 8px;
	margin-bottom: 19px;
}

div
{
	background-color: whitesmoke;
}