body
{
    margin:0;
padding:0;
background: url(image_de_fond.png) no-repeat center fixed;
-webkit-background-size: cover; /* pour Chrome et Safari */
-moz-background-size: cover; /* pour Firefox */
-o-background-size: cover; /* pour Opera */
background-size: cover; /* version standardisée */

	background-color: rgb(255, 255, 255) ;
	text-align: center;
    color: rgb(255, 255, 255);

}
.geo
{
    color: aqua
}
.c1
{
    text-align: center ;
    height: 60%;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 5%;
    background-color: aqua;
}

h1
{
    color: aliceblue;
}

